<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="pUsuarioEnviaCorreo"  value="gnvpecsa@pecsa.com.pe"/>
    <add key="pUsuariosDestinatarios"  value="pnunez@pecsa.com.pe,mestrada@pecsa.com.pe"/>
    <add key="pcSubject"  value="Alerta de Tipo Conexion BD:"/>
    <add key="pcSubjectErrorMensaje"  value="Alerta de Tipo Ventas Retorno False: "/>
    <add key="pcMensajeCorrectoLog"  value="Datos Actualizados Correctamente"/>
    <add key="pcMensajeCorrectoLogFalse"  value="Datos Actualizados Correctamente - No hay Ventas que devuelvan False"/>
    <add key="pcSubjectErrorEnvioCorreo"  value="Alerta Tipo Error Actualizar Estados Ventas - Codigo Log:"/>

    <add key="nEnviaCorreo"  value="1"/>
    <add key="nMaximoIntentosConexion"  value="3"/>
    <add key="nMinimoRegistrosEnvio"  value="0"/>
    <add key="pcRutaLog"  value="C:\LogVentas\"/> 
    <add key="tiempo"  value="1"/>
  </appSettings>
</configuration>