<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="servidor" value="rac1-scan.csm.cl" />
		<add key="puerto" value="1521" />
		<add key="nombreservicio" value="MEDISYN_CSM" />
		<add key="user" value="SGONZALEZ" />
		<add key="password" value="qSqVZ7.bF%" />
			
		<add key="production" value="1" />
		<add key="url_intranet_production" value="https://intranet.amsm.cl/" />
		<add key="url_intranet_staging" value="http://staging.amsm.cl/" />
		
		<add key="url_update_date" value="update_proc" />
		<add key="url_ingreso_pam" value="actualizar_pam_post" />
		<add key="url_recaudacion" value="ingreso_recaudaciones_post" />
		<add key="url_envio_isapre" value="actualizar_estado_pam_post" />
		
		
		<add key="url_last_proc" value="last_proc" />

		<add key="ruta_csv" value="F:\csv\" />
		<add key="ruta_log" value="F:\log\" />
		
	</appSettings>
</configuration>